.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 0%;
    }
    100% {
        transform:rotate(360deg);
        opacity: 100%;
    }
}

img{
    animation: spin 2s ease-in-out;
}

@keyframes move {
    0% {
        transform: translateX(0px)
    }
    33% {
        transform: translateX(50px) translateY(50px)
    }
    66% {
        transform:translateX(-50px) translateY(-50px)
    }
    100% {
        transform:translateX(0px)
    }
}

#bear:active {
    animation: move 2s;
}

@keyframes disappear {
    0% {
        transform: scale(10%);
        opacity: 0%;
    }
    100% {
        transform:scale(10%);
        opacity: 0%
    }
}

#elephant:active {
    animation: disappear 2s;
}

@keyframes dance {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(15deg);
    }
    66% {
        
    }
}